<footer class="bg-dark text-white pt-5 pb-4 mt-5">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="text-warning mb-3 fw-bold">GrillMaster Burger</h5>
                <p class="text-light small">
                    Serving up the best patties in town since 2025. We believe in fresh ingredients and quick service.
                </p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3 text-white fw-bold">Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-light text-decoration-none" id="#items">View items</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5 class="mb-3 text-white fw-bold">Contact Us</h5>
                <ul class="list-unstyled text-light small">
                    <li><i class="fas fa-phone-alt me-2"></i> +94 71 243 6642</li>
                    <li><i class="fas fa-envelope me-2"></i> info@grillmaster.com</li>
                    <li><i class="fas fa-map-marker-alt me-2"></i> Galle Rd, Panadura, Kalutara</li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4  text-start text-lg-end">
                <h5 class="mb-3 text-white fw-bold">Stay Updated!</h5>

                <div class="d-flex justify-content-start justify-content-lg-end">
                    <a href="#" class="text-warning me-3">
                        <i class="fab fa-facebook-f fa-2x"></i>
                    </a>
                    <a href="#" class="text-warning me-3">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                    <a href="#" class="text-warning">
                        <i class="fab fa-tiktok fa-2x"></i>
                    </a>
                </div>
            </div>

        </div>
        <hr class="my-3 border-secondary">

        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0 text-light small">© 2025 GrillMaster Burger. All rights reserved. | <a href="#"
                        class="text-light text-decoration-none">Privacy Policy</a></p>
            </div>
        </div>
    </div>
</footer>